@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-wall{
  height: 100vh;
  background-image: url('/public/vecteezy_the-best-food-in-the-world-ai-generated_30307498.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.control-center{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}